@import '../bower_components/sass-bootstrap/lib/bootstrap';

$font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
html, body, form, fieldset, table, tr, td, img {
  margin: 0;
  padding: 0;
  font: 100%/150% $font-family;
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

body {
  font-size: 0.875em;
}

$btn-primary-bg: #6D6E70;
$hover-bg: #47C3D0;

$description-line-height: 1.5625em;
$description-font-size: 1.25em;

/*******************************************************************************
General
*******************************************************************************/
h1 {
  font-size: 2.5em;
  font-family: $font-family;
}
@media screen and (max-width:550px) {
  h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width:350px) {
  h1 {
    font-size: 1.25em;
  }
}

.row-centered {
  text-align:center;
}

.btn {border-radius: 0;}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background: $hover-bg;
}

.navbar {
  margin-bottom: 0px;
}

.row {
  margin-bottom: 10px;
}

.hover-bg {
  background-color: $hover-bg;
}

/*******************************************************************************
Home
*******************************************************************************/
.btn-home {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(#FFFFFF, $btn-primary-bg, $btn-primary-bg);
  border: none;
  width: 100px !important;
  &:hover {
    background-color:$hover-bg;
  }
}
@media screen and (max-width:375px) {
  .btn-home {
    margin-bottom: 10px;
  }
}

$home-v-offset: 25%;
.home-div {
  position: relative;
  top: $home-v-offset;
  transform: translateY($home-v-offset);
}

/*******************************************************************************
Portfolio
*******************************************************************************/
.portfolio-item {
  cursor: pointer;
}

.portfolio-item :hover {
  background-color: $hover-bg;
}

.modal-img {
  margin-bottom:15px;
  width:100%;
}

/*******************************************************************************
Bootstrap modal changes
*******************************************************************************/
.modal-body-description {
  font-size: $description-font-size;
  line-height: $description-line-height;
}

.modal-content {
  position: relative;
  border-radius: 0px;
}

.modal-footer {
  margin-top: 0px;
  border-top: 0px;
}

.modal-dialog {
  width: 70%;
}
@media screen and (max-width:550px) {
  .modal-dialog {
    width:90%;
  }
}

/*******************************************************************************
CSS to prevent bootstrap 3 modal from shifting content on open
*******************************************************************************/
html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
}

/* unset bs3 setting */
.modal-open {
 overflow: auto; 
}

/*******************************************************************************
makes youtube video scalable
*******************************************************************************/
.video-container {
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
  margin-bottom: 15px;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/*******************************************************************************
about
*******************************************************************************/
.about-description {
  font-size: $description-font-size;
  line-height: $description-line-height;
}

.portrait-img-div {
  margin-bottom: 15px;
}