<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="pull-left" href="static/home.html"><img src="img/logo-small.png"></a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="row-centered" href="static/home.html">Home</a></li>
                <li><a class="row-centered" href="static/portfolio.html">Portfolio</a></li>
                <li><a class="row-centered" href="static/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1>About</h1>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-4">
            <img src="img/preview3.png">
        </div>
        <div class="col-md-8">
            <p id="content"></p>
        </div>
    </div>
</div>