<div class="container-fluid">
    <div class="row row-centered">
        <img id="logo-home" src="img/logo.png">
        <ul class="list-inline btn-list-home">
            <li><a class="btn btn-home" href="static/about.html">About</a></li>
            <li><div class="col-sm-1"></div></li>
            <li><a class="btn btn-home" href="static/portfolio.html">Portfolio</a></li>
            <li><div class="col-sm-1"></div></li>
            <li><a class="btn btn-home" href="static/contact.html">Contact</a></li>
        </ul>
        <div>ozhao@risd.edu</div>
    </div>
</div>