<div class="container home-div">
    <div class="row row-centered">
        <img id="logo-home" src="img/logo-v2.png" class="img-responsive center-block">
        <ul id="btn-list-home">
            <li><a class="btn btn-home" href="static/about.html">About</a></li>
            <li><a class="btn btn-home" href="static/portfolio.html">Portfolio</a></li>
            <li><a class="btn btn-home" href="data/oliverzhaoresumev2.pdf">Resume</a></li>
        </ul>
        <div>ozhao@risd.edu</div>
    </div>
</div>