<div class="container-fluid">
    <div class="row row-centered">
        <img id="logo-home" src="img/logo.png">
        <ul class="list-inline btn-list-home">
            <li><a class="btn btn-home" href="javascript:loadRoute('/about')">About</a></li>
            <li><a class="btn btn-home" href="javascript:loadRoute('/portfolio')">Portfolio</a></li>
            <li><a class="btn btn-home" href="javascript:loadRoute('/contact')">Contact</a></li>
        </ul>
        <div>ozhao@risd.edu</div>
    </div>
</div>