<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="pull-left" href="static/home.html"><img src="img/logo-small.png"></a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="row-centered" href="static/home.html">Home</a></li>
                <li><a class="row-centered" href="static/about.html">About</a></li>
                <li><a class="row-centered" href="static/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Portfolio</h1>
        </div>
    </div>

    <div id="content"></div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Oliver Zhao 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>

<div class="modal fade" id="portfolio-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h1 id="portfolio-modal-title"></h1>
                <p id="modal-body-text" class="modal-body-description"></p>
                <div id="modal-youtube-video"></div>
                <div id="modal-body-imgs" class="modal-img"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-home" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>